{#
    @file
    pelicula.html.twig

	Available variables:
 		- title: titulo de la página
		- movie: La pelicula favorita

#}
<div class="container">
	<h2>{{title}}</h2>
	<p>Tu pelicula favorita es: {{movie}}</p>
</div>
